In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import tree 
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

urlfile="https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv"

df=pd.read_csv(urlfile)

In [ ]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [ ]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [ ]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)

In [ ]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
x=df['Message']
y=df['spam']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df['Message'],df['spam'])

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train_count=cv.fit_transform(x_train)

In [ ]:
nb=MultinomialNB()
nb.fit(x_train_count,y_train)

MultinomialNB()

In [ ]:
emails=[
        'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
email_count=cv.transform(emails)

In [ ]:
x_test_count=cv.transform(x_test)

In [ ]:
nb.score(x_test_count,y_test)

0.9827709978463748

In [ ]:
nb.predict(email_count)

array([0, 1])

In [ ]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [ ]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [ ]:
clf.score(x_test,y_test)

0.9827709978463748

In [ ]:
clf.predict(emails)

array([0, 1])

In [ ]:
from sklearn.model_selection import cross_val_score
score1=cross_val_score(LogisticRegression(),x_test_count,y_test,cv=3)
np.average(score1)

0.9619561858855518

In [ ]:
score2=cross_val_score(tree.DecisionTreeClassifier(),x_test_count,y_test,cv=3)
np.average(score2)

0.9562090594487702

In [ ]:

score3=cross_val_score(RandomForestClassifier(),x_test_count,y_test,cv=3)
np.average(score3)

0.949755901619083

In [ ]:
score4=cross_val_score(SVC(),x_test_count,y_test,cv=3)
np.average(score4)

0.9533447657891484