In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
iris=load_iris()

In [ ]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
x=df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
y=df['target']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.svm import SVC
reg=SVC()

In [ ]:
reg.fit(x_train,y_train)

SVC()

In [ ]:
reg.predict(x_test)

array([1, 1, 2, 2, 2, 0, 0, 2, 2, 2, 1, 0, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2,
       0, 1, 2, 2, 0, 0, 1, 1])

In [ ]:
reg.predict([[6.0,3.2,2.0,0.1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [ ]:
reg.score(x_test,y_test)

1.0